<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: page_head('Sagi Bookstore','none')"></head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <div th:replace="fragment :: top-area"></div>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <div th:replace="fragment :: left-sidebar"></div>
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="page-title mb-0 p-0"></h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                               
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-6 col-4 align-self-center">
                        <div class="text-end upgrade-btn">
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <form th:action="@{/add_new_product}" th:method="post" th:object="${product}" enctype="multipart/form-data" class="form-horizontal form-material mx-2">
	                <div class="row">
	                    <!-- Column -->
	                    <div class="col-lg-4 col-xlg-3 col-md-5">
	                        <div class="card">
	                            <div class="card-body profile-card">
	                                <center class="mt-4"> 
	                                	<div class="change-photo">
	                                		<img th:src="@{${product.photoPath}}" alt="Product_Image" id="thumbnail" class="rounded-square photo" width="150" />
	                                		<label for="imgProduct">
	                                			<img src="/images/select_photo.png" class="rounded-circle camera" width="30" style="position: absolute;">
	                                		</label>
	                                	</div>		
	                                    <div>
	                                    	<input type="file" th:name="fileImage" id="imgProduct" accept="image/*" style="display: none;">
	                                    	<input type="hidden" th:field="*{photo}">
	                                    </div>
	                                    <div>
	                                    <!--<label for="add-image">
                                    		<img src="/images/add-image.png" class="rounded-circle" width="50">
                                    	</label>
	                                    </div>
	                                    <input type="file" id="add-image" multiple style="display: none;" th:name="fileImage">
	                                    
                                    	<div>
	                                    <output id="result"></output>
                                    	</div>-->
	                                </center>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- Column -->
	                    <!-- Column -->
	                    <div class="col-lg-8 col-xlg-9 col-md-7">
	                        <div class="card">
	                            <div class="card-body">	
	                                    <div class="form-group">
	                                        <label class="col-md-12 mb-0">Name</label>
	                                        <span style="font-size: 12px; color: red;" id="available-name"></span>
	                                        <span style="font-size: 12px; color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="name-validation"></span>
	                                        <div class="col-md-12">
	                                            <input type="text" th:field="${product.name}" id="name"
	                                                class="form-control ps-0 form-control-line" onfocusout="checkName()">
	                                        </div>
	                                    </div>
	                                    <div class="form-group">
	                                        <label for="example-email" class="col-md-12">Code</label>
	                                        <span style="font-size: 12px; color: red;" id="available-code"></span>
	                                        <span style="font-size: 12px; color: red;" th:if="${#fields.hasErrors('code')}" th:errors="*{code}" id="code-validation"></span>
	                                        <div class="col-md-12">
	                                            <input type="text" th:field="${product.code}" id="code"
	                                                class="form-control ps-0 form-control-line" onfocusout="checkCode()"
	                                                >
	                                        </div>
	                                    </div>
	                                    
	                                    <div class="form-group">
	                                    	<label class="col-sm-12">Category</label>
	                                    	<span style="font-size: 12px; color: red;" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
	                                    	<div class="col-sm-12 border-bottom" style="columns: 3; -webkit-columns: 3; -moz-columns: 3;">
		                                    	<ul th:each="category : ${listCategory}" >
	                                    			<div class="col-sm-12" >
	                                    				<input type="radio" th:field="*{category}" th:value="${category.id}" th:disabled="${category.name == 'All'}">
	                                            		<label th:text="${category.name}"></label>
	                                    			</div>
		                                    	</ul>
	                                        </div>
	                                    </div>
	                                    
	                                    <div class="form-group">
	                                        <label class="col-md-12 mb-0">Description</label>
	                                        <div class="col-md-12">
	                                            <input type="text" th:field="${product.description}"
	                                                class="form-control ps-0 form-control-line">
	                                        </div>
	                                    </div>
	                                    <div class="form-group">
	                                        <label class="col-md-12 mb-0">Quantity</label>
	                                        <span style="font-size: 12px; color: red;" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
	                                        <div class="col-md-12">
	                                            <input type="text" th:field="${product.quantity}"
	                                                class="form-control ps-0 form-control-line">
	                                        </div>
	                                    </div>
	                                    <div class="form-group">
	                                        <label class="col-md-12 mb-0">Price</label>
	                                        <div class="col-md-12">
	                                            <input type="text" th:field="${product.price}"
	                                                class="form-control ps-0 form-control-line">
	                                        </div>
	                                    </div>
	                                    <div class="form-group">
	                                        <label class="col-md-12 mb-0">Sale Price</label>
	                                        <div class="col-md-12">
	                                            <input type="text" th:field="${product.salePrice}"
	                                                class="form-control ps-0 form-control-line">
	                                        </div>
	                                    </div>
	                                    
	                                    <div class="form-group">
	                                        <div class="col-sm-12 d-flex flex-row-reverse">
	                                            <button type="submit" class="btn btn-success mx-auto mx-md-0 text-white" id="add-product-btn">ADD</button>
	                                        </div>
	                                    </div>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- Column -->
	                </div>
                </form>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                © 2021 Monster Admin by <a href="https://www.wrappixel.com/">wrappixel.com</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/app-style-switcher.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <script th:src="@{/js/custom.js}"></script>
    <script type="text/javascript">
    	function readUrl(input) {
			if(input.files && input.files[0]) {
				var reader = new FileReader();
				
				reader.onload = function(e) {
					$("#thumbnail").attr('src', e.target.result)
				}
				reader.readAsDataURL(input.files[0])
			}
		}
		
		$(document).ready(function() {
			$("#imgProduct").change(function() {
				readUrl(this)
			})
		});
    </script>
    <script>
    	window.onload = function(){
			if(window.File && window.FileList && window.FileReader){
				var filesInput = document.getElementById("add-image");
				filesInput.addEventListener("change", function(event){
					var files = event.target.files;
					var output = document.getElementById("result");
					for(var i = 0; i < files.length; i++){
						var file = files[i];
						if(!file.type.match('image'))
							continue;
						var picReader = new FileReader();
						picReader.addEventListener("load", function(event){
							var picFile = event.target;
							var div = document.createElement("div");
							div.className = "pro-img";
							div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" + "title='" + picFile.name + 
							"'/>'" + "<img class='rounded-circle remove-button' width='20' src='/images/remove-image.png/'/>";
							
							output.insertBefore(div, null);
							
							$(".remove-button").click(function(){
								$(this).parent(".pro-img").remove();
							});
						});
						picReader.readAsDataURL(file);
					}
				});
			} else {
				console.log("Your browser does not support File API");
			}
		}
    </script>
    <script>
    
    </script>
</body>

</html>