<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: page_head('Sagi Bookstore','none')"></head>
<style>
	tr:hover{background-color:#f5f5f5;}
</style>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <div th:replace="fragment :: top-area"></div>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <div th:replace="fragment :: left-sidebar"></div>
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="page-title mb-0 p-0"></h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-6 col-4 align-self-center">
                        <div class="text-end upgrade-btn">
                            <a th:href="@{/create_customer}"
                                class="btn btn-success d-none d-md-inline-block text-white">Create A Customer</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                            	<div class="row">
	                            	<div th:replace="fragment :: top-table-customer"></div>
                            	</div>
                                
                                <div  class="table-responsive">
                                    <table class="table user-table no-wrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0 align-middle align-self-center">#</th>
                                                <th class="border-top-0 align-middle align-self-center text-center"> </th>
                                                <th class="border-top-0 align-middle align-self-center">Email</th>
                                                <th class="border-top-0 align-middle align-self-center">First Name</th>
                                                <th class="border-top-0 align-middle align-self-center">Last Name</th>
                                                <th class="border-top-0 align-middle align-self-center text-center">Date Of Birth</th>
                                                <th class="border-top-0 align-middle align-self-center text-center">Phone Number</th>
                                                <th class="border-top-0 align-middle align-self-center text-center">Rank</th>
                                                <th class="border-top-0 align-middle align-self-center text-center">Create Date</th>
                                                <th class="border-top-0 align-middle align-self-center text-center">Edit</th>
                                                <th class="border-top-0 align-middle align-self-center text-center">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="customer : ${listCustomer}">
                                                <td class="align-middle align-self-center" th:text="${customer.id}"></td>
                                                <td class="align-middle align-self-center text-center"><img th:src="@{${customer.photoPath}}" alt="user" class="rounded-circle" width="30"></td>
                                                <td class="align-middle align-self-center" th:text="${customer.email}"></td>
                                                <td class="align-middle align-self-center" th:text="${customer.firstName}"></td>
                                                <td class="align-middle align-self-center" th:text="${customer.lastName}"></td>
                                                <td class="align-middle align-self-center text-center" th:text="${customer.dateOfBirth}"></td>
                                                <td class="align-middle align-self-center text-center" th:text="${customer.phoneNumber}"></td>
                                                <td class="align-middle align-self-center text-center" th:text="${customer.rank}"></td>
                                                <td class="align-middle align-self-center text-center" th:text="${customer.createDate}"></td>
                                                
                                                <td class="align-middle align-self-center text-center">
                                                	<div class="align-self-center">
								                        <div class="upgrade-btn">
								                            <a th:href="@{/edit_customer/{id}(id=${customer.id})}"
								                                class="btn btn-success d-none d-md-inline-block text-white">Edit</a>
								                        </div>
								                    </div>
                                                </td>
                                                <td class="align-middle align-self-center text-center">
                                                	<div class="align-self-center">
								                        <div class="upgrade-btn">
								                            <a th:href="@{/delete_customer/{id}(id=${customer.id})}"
								                                class="btn btn-success d-none d-md-inline-block text-white">Delete</a>
								                        </div>
								                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                © 2021 Monster Admin by <a href="https://www.wrappixel.com/">wrappixel.com</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/app-style-switcher.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/js/custom.js}"></script>
</body>

</html>